{% load static %}
<html>
<head>
    <style>
    #tab
    {
      margin-top: 80px;
      width: 840px;
      height: 400px;
      border-color: black;
    }
    .student_menu
    {
        font-size: 28px;
        color:red;
        border-color:black;
        border-width: 3px;



    }
    #i
    {
      border:10px ;
    }
    .s
    {
       border: 10px;
    }
    #ts
    {
      border-color: black;
    }
    .col
    {
        border: 10px;
    }

    </style>
</head>
    <body>
<table align="center" border="4" id="tab">
<tr>
    <th width="200px" class="student_menu"><a href="{% url 'see_all_available_courses' %}">See all Available Courses</a></th>
    <th class="student_menu"><a href="{% url 'student_registeration' %}">Register</a></th>
    <th class="student_menu"><a href="{% url 'student_login' %}">Login</a></th>

    <th width="180px" class="student_menu"><a href="{% url 'student_page' %}">Home</a></th>
</tr>
    <tr>

        <th colspan="4" id="i">
            {% block sree %}


                <img src="{% static 'images/student.jpg' %}" ></th>


           </tr>
    {% endblock %}


</table>


</body>
<a href="{% url 'main' %}">Back</a>
</html>