{% extends 'admin_page.html' %}
{% block sree %}
    <style>
    #heading
    {
        font-size: 30px;
        color: red;
        background-color: black;
    }
    .second_row
    {
        font-size: 20px;
    }
    </style>
    <table align="center" border="0.5">
        <tr><th colspan="8" id="heading">View All Schedule Course</th></tr>
    <tr>
        <th class="second_row">Name</th>
        <th class="second_row">Faculty</th>
        <th class="second_row">Date</th>
        <th class="second_row">Time</th>
        <th class="second_row">Fee</th>
        <th class="second_row">Duration</th>
        <th class="second_row">Update</th>
        <th class="second_row">Delete</th>
    </tr>
    {% for x in view %}
        <tr>
        <th width="80px">{{ x.Name }}</th>
        <th width="80px">{{ x.Faculty }}</th>
        <th width="80px">{{ x.Date }}</th>
        <th width="80px">{{ x.Time }}</th>
        <th width="80px">{{ x.Fee }}</th>
        <th width="80px">{{ x.Duration }}</th>

            <th width="80px"><a href="{% url 'go_and_update_course' %}?no={{ x.No }}"> yes </a></th>
            <th width="80px"><a href="{% url 'go_and_delete_course' %}?no={{ x.No }}">yes</a></th>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
